body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: url('background/bar-background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

#click-counter {
  font-family: 'Georgia', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  color: #333;
}

.game-area {
  position: relative;
}

#cookie {
  width: 200px;
  cursor: pointer;
  margin: 20px;
  transition: transform 0.5s ease;
  position: relative;
  left: -50px;
}

#drink {
  width: 100px;
  position: absolute;
  top: 50px;
  left: -30px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#drink.drinking {
  opacity: 1;
  animation: drink-animation 1s infinite;
}

@keyframes drink-animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.hidden {
  display: none;
}

#cred its-popup {
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    padding: 10px;
    z-index: 1000;
    display: none; /* Initially hidden */
  }
  
  #credits-popup.hidden {
    display: none; /* Hide when the class is added */
  }
  
  #credits-popup p {
    margin: 0;
  }
  
  #close-credits {
    margin-top: 10px;
  }
